.header6 {
    display: block;
    /*margin: 0 auto;*/
   /* width: 100%;
    max-width: 100%; */
    box-shadow: none;
    background-color: #4e6285;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
  }
  .main6 {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
  }
  
  .sidebarMenu6 {
    height: 420px;
    overflow-y: scroll;
    position: fixed;
    z-index:6;
    right: 0;
    width:500px;
    margin-top: 194px;
    transform: translateX(500px);
    transition: transform 350ms ease-in-out;
    background: #4e6285;
    color:#fff;
    top:0;
    padding:10px;
  }
  .sidebarMenuInner6 {
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
  }
  .sidebarMenuInner6 li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  }
  .sidebarMenuInner6 li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
  }
  .sidebarMenuInner6 li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  input[type="checkbox"]:checked ~ .sidebarMenu6 {
    transform: translateX(0);
  }
  
  input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle6 {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 150px;
    right: 54px;
    height: 20px;
    width: 20px;
  }
  .spinner6 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background: orange !important;
  }
  .horizontal6 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-111111 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }
  .diagonal.part-122222 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle6 > .horizontal6 {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle6 > .diagonal.part-111111 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle6 > .diagonal.part-122222 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }
  .table-scroll {
    overflow: auto;
  }
  .fix{
    position: sticky;
    left: 0;
    z-index: 3;
    background: #f8f8f8;
 }
 .fixHeader{
  position: sticky;
  top: 0;
  z-index: 1;
  background: #f8f8f8;
}